.button1{
    float: left;
    border:1px solid violet;
    padding: 5px 10px; 
    vertical-align: middle; 
    background-color: gray; 
    color:violet;
    border-radius:7px; 
    font-size: 15px; 
    font-family:'Courier New', Courier, monospace, serif;
    text-decoration: underline none;
}
.button{
    float: left; 
    border:1px solid gray; 
    padding:5px 12px; 
    vertical-align: middle; 
    background-color: violet; 
    color:gray;
    border-radius:7px; 
    font-size: 15px; 
    font-family:'Courier New', Courier, monospace, serif;
    text-decoration: underline none;
}
.notaAzul{
    color: blue;
  }
  .notaVermelha{
    color: red;
  }
